:root {
  --main-bg: #252525;
  --main-color: #f13b3b;
  --whitesmoke: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--main-color);
  padding: 0.5em 2em;
  border-radius: 5px;
}
